
#CompetitivePopUp {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(17, 19, 19, 0.823);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-out 1s;
}

#CompetitivePopUp button {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 40px;
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    font-size:1.5rem ;
}

#CompetitivePopUp button:hover{
    scale: 1.5;
}


#CompetitivePopUpBtn {
    width: 60%;
    height: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    transition: all ease-out 1s;
}

#CompetitivePopUpBtn:hover{
    scale: 1.5;
}

#CompetitivePopUpBtn div{
    width: 60%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}