.card {
  width: 100%;
  height: auto;
  background: transparent;
  text-align: center;
  color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico';
  border-radius: 20px;
  font-size: 1.4rem;
}
.card-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
