.ControlRounds {
    font-family:'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    position: fixed;
    top: 20px;
    left:32%;

}

.ControlRounds img {
    width: 4rem;
    border-radius: 50%;
    height: 4rem;
    margin: 0;
}

.ControlRounds h3 {
    color: white;
    margin: 0;
}

.ControlRounds2 {
    right: -30%;
    left:0;
}