.card {
    height: 100%;
    background: transparent;
    text-align: center;
    color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico';
    border-radius: 20px;
    font-size: 1.4rem;
    
  }

  .card:hover {
    cursor: pointer;
    
  }
  .card-info {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  